.header {
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  margin: 80px 80px 80px 80px;
}

.container .button1:hover {
  cursor: pointer;
}
.container .button2:hover {
  cursor: pointer;
}
.container .button3:hover {
  cursor: pointer;
}
.container .button4:hover {
  cursor: pointer;
}
.container .button5:hover {
  cursor: pointer;
}

.button1 {
  background-color: brown;
  color: azure;
  margin: 10px;
  padding: 35px 20px 35px 20px;
  border-radius: 10px;
}
.button2 {
  background-color: green;
  color: azure;
  margin: 10px;
  padding: 35px 20px 35px 20px;
  border-radius: 10px;
}
.button3 {
  background-color: cadetblue;
  color: azure;
  margin: 10px;
  padding: 35px 20px 35px 20px;
  border-radius: 10px;
}
.button4 {
  background-color: blueviolet;
  color: azure;
  margin: 10px;
  padding: 35px 20px 35px 20px;
  border-radius: 10px;
}
.button5 {
  background-color: darkorange;
  color: azure;
  margin: 10px;
  padding: 35px 20px 35px 20px;
  border-radius: 10px;
}
